@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Encode+Sans+SC:wght@700&family=Nunito&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo {
    width: 80px;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

nav a {
    font-family: 'Encode Sans SC', Helvetica, sans-serif;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1 {
    font-family: 'Caveat', Helvetica, sans-serif;
    text-align: center;
    color:#963322;
    font-weight: bold;
}

#hero-msg h4 {
    font-family: Nunito, Helvetica, sans-serif;
    text-align: center;
}

.button-box {
    text-align: center;
}

.card-img {
    border: 10px solid #963322;
}

main section {
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #DC602E;
}

body {
    font-family: 'Encode Sans SC', Helvetica, sans-serif;
    background-color: #F8F0E3;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #963322;
}

nav a:hover {
    background-color: #DC602E;
    color: black;
}

.book, .join {
    font-size: 18px;
    font-family: Nunito, Helvetica, sans-serif;
    background-color: #DC602E;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px; 
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: black;
}

.msg {
    background-color: #047577;
    line-height: 1.5em;
}

.msg h2 {
    font-family: 'Encode Sans SC', Helvetica, sans-serif;
    color: black;
}

.msg p {
    font-size: .8em;
    font-family: Nunito, Helvetica, sans-serif;
    color: black;
    padding-bottom: 15px;
}

footer {
    background-color: #963322;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-family: Nunito, Helvetica, sans-serif;
    font-size: 1.2em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer h3 {
    color: black;
}

footer a:hover {
    color: white;
    background-color: #DC602E;
}

footer .social img {
    padding-top: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}